-- 053_local_spot_template_drafts.sql
-- Draft queue for local spot minihome templates

create table if not exists public.local_spot_template_drafts (
  id uuid primary key default gen_random_uuid(),
  local_spot_id uuid not null references public.local_spots(id) on delete cascade,
  source_image_urls jsonb not null default '[]'::jsonb,
  menu_items jsonb not null default '[]'::jsonb,
  pricing_table jsonb not null default '[]'::jsonb,
  concept jsonb not null default '{}'::jsonb,
  strategy jsonb not null default '{}'::jsonb,
  minihome_template jsonb not null default '{}'::jsonb,
  generation_notes text,
  review_notes text,
  status text not null default 'draft' check (status in ('draft', 'ready_for_review', 'approved', 'rejected', 'published')),
  created_by uuid null references public.profiles(id) on delete set null,
  approved_by uuid null references public.profiles(id) on delete set null,
  approved_at timestamptz,
  published_at timestamptz,
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now(),
  constraint local_spot_template_drafts_source_images_array check (jsonb_typeof(source_image_urls) = 'array'),
  constraint local_spot_template_drafts_menu_items_array check (jsonb_typeof(menu_items) = 'array'),
  constraint local_spot_template_drafts_pricing_table_array check (jsonb_typeof(pricing_table) = 'array'),
  constraint local_spot_template_drafts_concept_object check (jsonb_typeof(concept) = 'object'),
  constraint local_spot_template_drafts_strategy_object check (jsonb_typeof(strategy) = 'object'),
  constraint local_spot_template_drafts_template_object check (jsonb_typeof(minihome_template) = 'object')
);

create index if not exists local_spot_template_drafts_spot_idx
  on public.local_spot_template_drafts (local_spot_id, created_at desc);

create index if not exists local_spot_template_drafts_status_idx
  on public.local_spot_template_drafts (status, created_at desc);

drop trigger if exists trg_local_spot_template_drafts_updated_at on public.local_spot_template_drafts;
create trigger trg_local_spot_template_drafts_updated_at
  before update on public.local_spot_template_drafts
  for each row execute function public.set_updated_at();

alter table public.local_spot_template_drafts enable row level security;

drop policy if exists local_spot_template_drafts_select_admin on public.local_spot_template_drafts;
create policy local_spot_template_drafts_select_admin
  on public.local_spot_template_drafts for select
  to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and coalesce(p.is_staff, false) = true
    )
    or exists (
      select 1 from public.bestvip77_admins a
      where a.user_id = auth.uid()
    )
  );

drop policy if exists local_spot_template_drafts_insert_admin on public.local_spot_template_drafts;
create policy local_spot_template_drafts_insert_admin
  on public.local_spot_template_drafts for insert
  to authenticated
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and coalesce(p.is_staff, false) = true
    )
    or exists (
      select 1 from public.bestvip77_admins a
      where a.user_id = auth.uid()
    )
  );

drop policy if exists local_spot_template_drafts_update_admin on public.local_spot_template_drafts;
create policy local_spot_template_drafts_update_admin
  on public.local_spot_template_drafts for update
  to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and coalesce(p.is_staff, false) = true
    )
    or exists (
      select 1 from public.bestvip77_admins a
      where a.user_id = auth.uid()
    )
  )
  with check (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and coalesce(p.is_staff, false) = true
    )
    or exists (
      select 1 from public.bestvip77_admins a
      where a.user_id = auth.uid()
    )
  );

drop policy if exists local_spot_template_drafts_delete_admin on public.local_spot_template_drafts;
create policy local_spot_template_drafts_delete_admin
  on public.local_spot_template_drafts for delete
  to authenticated
  using (
    exists (
      select 1 from public.profiles p
      where p.id = auth.uid() and coalesce(p.is_staff, false) = true
    )
    or exists (
      select 1 from public.bestvip77_admins a
      where a.user_id = auth.uid()
    )
  );

comment on table public.local_spot_template_drafts is 'Draft queue generated from menu or service board images.';
comment on column public.local_spot_template_drafts.source_image_urls is 'Input image URL array.';
comment on column public.local_spot_template_drafts.minihome_template is 'Renderable minihome template JSON.';
