-- 054_minihome_interactive_features.sql
-- Enable interactive minihome features:
-- - guestbook write/moderation
-- - photo album/photo owner CRUD
-- - optional diary table for future module

-- ---------------------------------------------------------------------------
-- Guestbook: authenticated visitors can write on public minihome
-- owner can hide/delete entries
-- ---------------------------------------------------------------------------
drop policy if exists minihome_guestbook_insert_public_auth on public.minihome_guestbook_entries;
create policy minihome_guestbook_insert_public_auth
  on public.minihome_guestbook_entries for insert
  to authenticated
  with check (
    auth.uid() = author_id
    and auth.uid() <> minihome_owner_id
    and exists (
      select 1 from public.user_minihomes h
      where h.owner_id = minihome_owner_id
        and h.is_public = true
    )
  );

drop policy if exists minihome_guestbook_update_owner on public.minihome_guestbook_entries;
create policy minihome_guestbook_update_owner
  on public.minihome_guestbook_entries for update
  to authenticated
  using (auth.uid() = minihome_owner_id)
  with check (auth.uid() = minihome_owner_id);

drop policy if exists minihome_guestbook_delete_owner_or_author on public.minihome_guestbook_entries;
create policy minihome_guestbook_delete_owner_or_author
  on public.minihome_guestbook_entries for delete
  to authenticated
  using (auth.uid() = minihome_owner_id or auth.uid() = author_id);

-- ---------------------------------------------------------------------------
-- Albums/photos: owner CRUD
-- ---------------------------------------------------------------------------
drop policy if exists minihome_albums_insert_owner on public.minihome_photo_albums;
create policy minihome_albums_insert_owner
  on public.minihome_photo_albums for insert
  to authenticated
  with check (auth.uid() = owner_id);

drop policy if exists minihome_albums_update_owner on public.minihome_photo_albums;
create policy minihome_albums_update_owner
  on public.minihome_photo_albums for update
  to authenticated
  using (auth.uid() = owner_id)
  with check (auth.uid() = owner_id);

drop policy if exists minihome_albums_delete_owner on public.minihome_photo_albums;
create policy minihome_albums_delete_owner
  on public.minihome_photo_albums for delete
  to authenticated
  using (auth.uid() = owner_id);

drop policy if exists minihome_photos_insert_owner on public.minihome_photos;
create policy minihome_photos_insert_owner
  on public.minihome_photos for insert
  to authenticated
  with check (
    exists (
      select 1 from public.minihome_photo_albums a
      where a.id = album_id and a.owner_id = auth.uid()
    )
  );

drop policy if exists minihome_photos_update_owner on public.minihome_photos;
create policy minihome_photos_update_owner
  on public.minihome_photos for update
  to authenticated
  using (
    exists (
      select 1 from public.minihome_photo_albums a
      where a.id = minihome_photos.album_id and a.owner_id = auth.uid()
    )
  )
  with check (
    exists (
      select 1 from public.minihome_photo_albums a
      where a.id = minihome_photos.album_id and a.owner_id = auth.uid()
    )
  );

drop policy if exists minihome_photos_delete_owner on public.minihome_photos;
create policy minihome_photos_delete_owner
  on public.minihome_photos for delete
  to authenticated
  using (
    exists (
      select 1 from public.minihome_photo_albums a
      where a.id = minihome_photos.album_id and a.owner_id = auth.uid()
    )
  );

-- ---------------------------------------------------------------------------
-- Optional diary table (prevents missing-table issues and enables next steps)
-- ---------------------------------------------------------------------------
create table if not exists public.minihome_diary_entries (
  id uuid primary key default gen_random_uuid(),
  owner_id uuid not null references public.user_minihomes(owner_id) on delete cascade,
  title text not null default '',
  body text not null,
  visibility text not null default 'public' check (visibility in ('public', 'ilchon', 'private')),
  created_at timestamptz not null default now(),
  updated_at timestamptz not null default now()
);

create index if not exists idx_minihome_diary_owner_created
  on public.minihome_diary_entries (owner_id, created_at desc);

drop trigger if exists trg_minihome_diary_updated_at on public.minihome_diary_entries;
create trigger trg_minihome_diary_updated_at
  before update on public.minihome_diary_entries
  for each row execute function public.set_updated_at();

alter table public.minihome_diary_entries enable row level security;

drop policy if exists minihome_diary_select on public.minihome_diary_entries;
create policy minihome_diary_select
  on public.minihome_diary_entries for select
  to anon, authenticated
  using (
    auth.uid() = owner_id
    or (
      visibility = 'public'
      and exists (
        select 1 from public.user_minihomes h
        where h.owner_id = minihome_diary_entries.owner_id and h.is_public = true
      )
    )
  );

drop policy if exists minihome_diary_owner_insert on public.minihome_diary_entries;
create policy minihome_diary_owner_insert
  on public.minihome_diary_entries for insert
  to authenticated
  with check (auth.uid() = owner_id);

drop policy if exists minihome_diary_owner_update on public.minihome_diary_entries;
create policy minihome_diary_owner_update
  on public.minihome_diary_entries for update
  to authenticated
  using (auth.uid() = owner_id)
  with check (auth.uid() = owner_id);

drop policy if exists minihome_diary_owner_delete on public.minihome_diary_entries;
create policy minihome_diary_owner_delete
  on public.minihome_diary_entries for delete
  to authenticated
  using (auth.uid() = owner_id);

comment on table public.minihome_diary_entries is 'Minihome diary entries. visibility controls public exposure.';
