-- 055_backfill_user_minihomes.sql
-- Recover missing minihome rows for existing profiles.

create extension if not exists pgcrypto;

insert into public.user_minihomes (owner_id, public_slug, title)
select
  p.id as owner_id,
  substring(encode(gen_random_bytes(9), 'hex') from 1 for 12) as public_slug,
  coalesce(nullif(trim(p.display_name), ''), '회원') || '님의 공간' as title
from public.profiles p
left join public.user_minihomes m on m.owner_id = p.id
where m.owner_id is null
on conflict (owner_id) do nothing;
